/* Porpara / Sans-Serif / Title */
@font-face {
  font-family: 'Porpara';
  font-style: normal;
  font-weight: 400;
  src: local('Porpara'), local('Porpara-Regular'),
    /* Modern Browsers */ url('/fonts/porpara-regular.ttf') format('truetype');
}

/* Caladea / Serif */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/caladea-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caladea Regular'), local('Caladea-Regular'),
    url('/fonts/caladea-v1-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/caladea-v1-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/caladea-v1-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/caladea-v1-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/caladea-v1-latin-regular.svg#Caladea') format('svg'); /* Legacy iOS */
}
/* Karla / Sans-Serif */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
    url('/fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/karla-v13-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/karla-v13-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/karla-v13-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/karla-v13-latin-regular.svg#Karla')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Karla';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/karla-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
    url('/fonts/karla-v13-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/karla-v13-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/karla-v13-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/karla-v13-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/karla-v13-latin-700.svg#Karla')
      format('svg'); /* Legacy iOS */
}

/* Set base font family */
* {
  font-family: theme('fontFamily.sans');
}

/* Create font classes */
@responsive {
  .font-sm {
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.lg');
    letter-spacing: 0.02rem;
  }

  .font-base {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.lg');
  }

  .font-lg {
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.base');
  }

  .font-xl {
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.base');
  }

  .font-xxl {
    font-size: theme('fontSize.xxl');
    line-height: theme('lineHeight.xs');
  }

  .font-header {
    font-size: theme('fontSize.header');
    line-height: theme('lineHeight.sm');
    letter-spacing: -0.01rem;
  }
}

/* Create font classes */
@responsive {
  .font-sm {
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.lg');
    letter-spacing: 0.02rem;
  }

  .font-base {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.lg');
  }

  .font-lg {
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.base');
  }

  .font-xl {
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.base');
  }

  .font-xxl {
    font-size: theme('fontSize.xxl');
    line-height: theme('lineHeight.xs');
  }

  .font-header {
    font-size: theme('fontSize.header');
    line-height: theme('lineHeight.sm');
    letter-spacing: -0.01rem;
  }
}
