body {
  height: fit-content;
  -webkit-font-smoothing: antialiased;
  font-size: theme('fontSize.base');
  line-height: theme('lineHeight.base');
  background-color: theme('colors.lightestgray');
  color: theme('colors.black');
  max-width: theme('maxWidth.256');
  margin: 0 auto;
}

.onboarding_location__control {
  height: 100%;
}
